@import '../variables/Variables.scss';

.todo-search-input{
    height: 40px;
    width: 80%;
    max-width: 600px;
    text-align: center;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    font-size: large;
    border-radius: $borderRadius;
    border: aqua solid 1px;

    :hover, :active{
        border: orange solid 1px;
    }
}